# Clients
artemis
lighthouse
lodestar
nimbus-eth2
prysm
trinity

# Binaries
build/

# Testnet data
data/

# Other
.vscode/
*.log

# IntelliJ project files
.idea
*.iml
out
gen

# Faucet-related insecure data
/multinet-cluster/faucet-account.json
/multinet-cluster/faucet-password.txt
/multinet-cluster/faucet-twitter-token.txt
